# Fundamentos

In [ ]:
print('primeiro programa')
1 \
 + 2
help(print)

In [ ]:
1 + 2 + 3 
4 + 5 + 6

In [ ]:
print(1 + 2 + 3) 
print(4 + 5 + 6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha língua')
print("Tb funciona")
print('Você é ' + 3 * ' muito'  +' legal')
#print(3 + "a") ambiguidade
print([1, 2, 3])
print({'Nome':'Pedro', 'idade':22})
print(None)

# Variáveis

In [ ]:
a = 10 
b = 5.2
print(a + b)
a = "agora sou uma string"
a
b

#print(a)

# Comentários

In [ ]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2
'''
A ideia é calcular
quanto vai sobrar
no final do mês
'''
print(salario - despesas)

# print('Fim')
print("Fim de verdade") # comentário aqui também funciona

# Operadores Aritméticos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3) #resultado vai dar inteiro
print(2 ** 8) #expoente
print(10 % 3) #módulo

a = 12
b = a
print(a + b)

# Desafio Operadores Aritméticos

In [ ]:
salario = 3450.45
despesas = 2456.2
#qual o percentual de despesa em relação ao salário
percentual_comprometido = despesas / salario * 100 
print(percentual_comprometido)

# Operadores Relacionais

In [ ]:
3 > 4 
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '3'
2 == '2'

# Operadores de Atribuição

In [ ]:
a = 3 
a = a + 7 
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 127 #divisão com resultado inteiro
print(a)

# Operadores Lógicos

In [ ]:
True or False
7 != 3 and 2 > 3
# tabela verdade do AND
True  and True  # True
True  and False # False
False and True  # False
False and False # False

# tabela verdade do OR
True  or True  # True
True  or False # True
False or True  # True
False or False # False

# tabela verdade do XOR
True  != True  # False
True  != False # True
False != True  # True
False != False # False

#operador de Negação (unário)
not True  # False
not False # True

not 0 # True
not 1 # False #ou qualquer outro número = True

#cuidado!
True & True # True
False | True # True
True ^ False # True

# AND BIT A BIT  
# 3 = 11  
# 2 = 10
# _ = 10

# OR BIT A BIT
3 & 2 
# 3 = 11  
# 2 = 10
# _ = 11
3 | 2 

# XOR BIT A BIT
# 3 = 11  
# 2 = 10
# _ = 01
3 ^ 2

#Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas 
print(meta)

# Desafio Operadores Lógicos

In [ ]:
''' 
    Uma pessoa vai ter dois trabalhos para serem executados
    Uma será na Terça, outro será na Quinta.
    Se os dois trabalhos derem certo, vai comprar uma tv de 50 
    Se apenas um dos dois der certo, a pessoa vai comprar uma tv de 32
    Em ambos os casos, se comprar a TV, a família vai tomar sorvete e vai ter menos saúde
    se nem um dos trabalhos derem certo, vai ter mais saúde
'''


trabalho_terca = True
trabalho_quinta = True


comprar_tv_50 = trabalho_terca and trabalho_quinta
comprar_tv_32 = trabalho_terca != trabalho_quinta
tomar_sorvete = trabalho_terca or trabalho_quinta
mais_saudavel = not tomar_sorvete

print("Comprar Tv 50 = {} Tv 32 = {} Sorvete = {} saudavel = {}"
      .format(comprar_tv_50, comprar_tv_32, tomar_sorvete, mais_saudavel))

# Operadores Unários

In [ ]:
a = 3 
# a++ Não tem no python
a += 1
a
# a-- não tem no python
#++a não utilizar (não funciona)
-a #torna negativo
+a #torna positivo

not 0 #negação
not 1
not not True

# Operadores Ternários

In [ ]:
esta_chovendo = False            #false    True    -- Ao contrário das outras linguagens
print('Hoje estou com as roupas ' + ('secas.', 'molhadas')[esta_chovendo])

print('Hoje estou com as roupas ' + ('molhadas. ' if esta_chovendo else 'Secas'))

# Mais Operadores (Membro/Identidade)

In [ ]:
#Operador de membro
lista = [1, 2, 3, 'Ana', 'Calra']
print(2 in lista)
print('Ana' not in lista)

#operador de itentidade
x = 3
y = x
z = 3

print(x is y) 
print(y is z)
print(x is not z)

numeroInt = 3
numeroString = '3'

print(numeroInt is numeroString)

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

print(lista_a is lista_b)
print(lista_b is lista_c) #diferente devido o alocamento de espaço da memória ser diferente
print(lista_a is not lista_c)

# Builtins

In [13]:
type(1)
__builtins__.type('Fala Galera')
__builtins__.print(10/3)
#__builtins__.help(dir)
#dir()
a = 7 
dir(__builtins__)

3.3333333333333335

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

# Conversão de tipos

In [23]:
2 + 3 
'2' + '3'
# 2 + '3'
# print(2 + '3')
a = 2 
b = '3'
print(type(a))
print(type(b))
print(a + int(b))
print(str(a) + b)

print(type(str(a)))

print(2 + float('3.4'))

<class 'int'>
<class 'str'>
5
23
<class 'str'>
5.4

# Coerção Automática

In [39]:
10 / 2
type(10/2)
10 / 3 
10 // 3 
type(10//3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [58]:
dir(int)
dir(float)

a = 5 
b = 2.5
a / b 
a + b 
a * b 
type(a)
type(b)
type(a -b)
b.is_integer()
5.0.is_integer()
dir(int)
int.__add__(2, 3)
2 + 3 
(-2).__abs__()
abs(-2) #valor absoluto
type(-2)
(-3.6).__abs__()
abs(-3.6)

3.6

In [66]:
# 1.1 + 2.2 
from decimal import Decimal, getcontext

getcontext().prec = 4  # precisão nas casas decimais

Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
Decimal(1.1) + Decimal(2.2)

Decimal('3.300')

# TipoString

In [83]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0] #acessando as letras
# nome[0] = 'P'
"Marca d'agua"
"Marca d'agua" == 'Marca d\'agua'
texto = 'Texto entre apóstrofos podem ter "aspas"'
texto

doc = """Texto com múltipas
... linhas"""
print(doc)
#\t = tab
doc2 = '''Também é possível
\t... Com 3 aspas simples'''
print(doc2)

Texto com múltipas
... linhas
Também é possível
	... Com 3 aspas simples

In [25]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-2]
nome[4:] #acessar aparitr da 4ª posição
nome[-4:]
nome[:3] #vai até o 3, mas o 3 não é considerado (do inicio até o 3)
nome[:-1]

nome[2:5] #começa do dois até o 5 sem entrar o 5

numeros = '1234567890'
numeros
numeros[::] #pega todos
numeros[::2] #step de 2 em 2
numeros[1::2]
numeros[::-1] #inversão da string
numeros[::-2] 

nome[::-1]

'aluaP anA'

frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase.upper()
frase.split()
frase.split('e')

In [45]:
a = '123'
b = 'de Oliveira 4'
a + b 
a.__add__(b)
str.__add__(a, b)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

True

# Listas

In [60]:
lista = []
type(lista)
dir(lista)
# help(lista)
len(lista)
lista.append(1) #append, adiciona elementos
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista

['Bia', 'Ana', 1]

In [73]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
lista[2]
1 in lista 
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
lista[-1] #pega o ultimo elemento da lista
lista[-5]

1

In [84]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] #do um ao 3, mas não entra o 3
lista[1:-1]
lista[1:] #1 ao fim
lista[:-1] #começo até o -1, sem incluir o -1
lista[::2] #lista de 2 em 2
lista[::-1] #inverte a lista
del lista[2] #remove o indice 2
lista
del lista[1:] #deleta todos apartir do indice 1
lista

['Ana']

# Tupla

In [98]:
#Tupla não pode ser modificada
tupla = tuple() #cria uma tupla
tupla = () #também cria uma tupla

type(tupla)
dir(tupla)
# help(tupla)
tupla = ('um') #tupla criada dessa forma, gera uma string
tupla = ('um', )#Caso queira criar uma tupla, colocar uma virgular no último elemento
type(tupla)
tupla[0]
# tupla[0] = 'opa' #não permitido
cores = ('verde', 'amarelo', 'azul', 'branco', 'azul')
type(cores)
cores[0]
cores[-1]
cores[1:]
cores.index('amarelo')
cores.count('azul') #conta a quantidade do elemento do parâmetro existe na tupla
len(cores)

5

# Dicionários

In [118]:
pessoa = {'nome':'Prof(a) Ana', 'idade': 38 , 'cursos': ['Inglês', 'Português']}
type(pessoa)
len(pessoa)
pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags', []) #caso não exista a chave 'tags', retorna um array vazio, o valor, você define

[]

In [125]:
pessoa = {'nome':'Prof(a) Alberto', 'idade': 43 , 'cursos': ['React', 'Python']}

pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade') #remove a chave e valor do dicionario
pessoa
pessoa.update({'idade':40, 'sexo':'M'}) #adiciona novos elementos no dicionario
pessoa
del pessoa['cursos'] #remove a chave e valor 
pessoa
pessoa.clear() #zera o
pessoa

{}

# Conjuntos

In [28]:
a = {1, 2, 3}
type(a)
# a[0] Conjutnos não aceitam índices
a = set('codddd3r')
a #conjuntos não garantem uma ordem e ignoram dados repetidos
print('3' in a, 4 not in a )
{1,2,3 } == {3,2,1,3} #vai retornar verdadeira, pq os mesmos elementos estão contidos no conjunto

#operaçoes
c1 = {1, 2}
c2 = {2, 3}

c1.union(c2)
c1.intersection(c2)
c1.update(c2) #altera o conjunto 1 a partir dos elementos de c2 
c1
c2 <= c1 #<= c2 é subconjunto de c1 ?
c1 >= c2  

{1, 2, 3 } - {2} #diferença entre conjuntos

c1 - c2 #diferença entre os 2
c1 -= {2}
c1

True True

{1, 3}

# Interpolação

In [38]:
from string import Template

nome, idade = 'Ana', 30
print('Nome: %s Idade: %d' % (nome, idade)) # %s é substituida por uma cadeia de caracteres, %d por nºs inteiros MAIS ANTIGA

print('Nome: {0} Idade: {1}'.format(nome, idade)) #utilizar no python < 3.6

print(f'Nome: {nome} Idade: {idade}' ) #versão mais atual, obrigatório uso da letra f ... python > 3.6

s = Template('Nome: $n Idade: $i')
print(s.substitute(n = nome, i = idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30